a.logo {
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}

.table-img {
    height: 150px;
    width: 300px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    border-radius: 30px;
    background: tomato;
    padding: 10px;
    width: 200px;
    height: 90px;
    margin-top: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}