html
  head
    meta(charset='UTF-8')
    title
      | Satta Matka 143 GUESSING :KALYAN KING MUMBAI KUBER KAPIL MATKA RESULTS DPBOSS FORUM TIPS
    meta(http-equiv='refresh', content='900')
    meta(name='description', content='Satta Matka, satta matka, satta matka 143, matka results, matka Charts, Matka Tips, indian matka,  dpboss, satta matka result, satta matka Tips, satta matka chart, satta satta matka, matka satta, Satta, Satta Results, matka satta result, matka satta chart, Kalyan matka tips, mumbai matka tips, matka chart, satta bazar, fix satta matka, kalyan matka, satta king')
    meta(name='keywords', content='Satta Matka, satta matka, sattamatka, satta matka 143, Matka results, Matka Tips, Matka Charts, Satta Matka Tips, Dpboss, Satta Matka Chart, Indian matka results, matka results, KALYAN BAZAR, MAIN MUMBAI BAZAR, SATTA BAZAR, satta matka results, satta matka chart, satta satta matka,matka satta, matka satta result, Satta, Satta Results, matka satta chart, kalyan matka, satta king')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='google', value='notranslate')
    script(type='text/javascript', async='', src='https://www.google-analytics.com/analytics.js')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-46528741-6')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-46528741-6');
  body(cz-shortcut-listen='true')
    div(id='#')
    style.
      @font-face {
      font-family: myfont1;
      src: url(LatoLatin-Italic.woff2);
      }
      .comment_box{
      border:2px solid #a15001;
      border-radius:5px;
      width:35%;
      padding:12px;
      }
      .heading{
      float:left;
      width:100%;
      padding:10px 0;
      text-align:center;
      font-weight:700;
      font-size:22px;
      background-color:#133E8C;
      color:#fff;
      margin:2px 0 0 0;
      border-radius:3px;
      border:2px solid #041C47;
      font-family:myfont1;
      }
      .g_box{
      border-radius:5px;
      border:1px solid #ccc;
      display: inline-block;
      box-sizing: border-box;
      width:100%;
      height:35px;
      background-color:#f8f8f8;
      padding:8px;
      font-size:15px;
      font-weight:700;
      font-family:myfont1;
      }
      .f_label{
      float:left;
      padding:5px;
      font-size:15px;
      font-weight:700;
      font-family:myfont1;
      }
      .s_btn{
      background-color:#133E8C;
      border:1px solid #133E8C;
      border-radius:5px;
      margin:15px 0 0 0;
      font-size:15px;
      font-weight:700;
      cursor:pointer;
      font-family:myfont1;
      color:#fff;
      padding:10px 20px 8px 20px;
      }
      @media only screen and (max-width:480px){
      .comment_box{
      width:85%;
      }
      }
    style.
      @font-face{
      font-family:myfont1;
      src:url(LatoLatin-BoldItalic.woff2);
      }
      .head_div{
      width:100%;
      box-sizing: border-box;
      }
      .logo{
      /*background-image:url('img/newlogo.png');
      background-size:auto auto;
      background-position:center;
      height:120px;
      background-repeat:no-repeat;*/
      background-image: url(img/newlogo.png);
      background-size: auto auto;
      background-position: center;
      width: 75%;
      height: 100%;
      text-align: center;
      background-repeat: no-repeat;
      float: none;
      margin-left: auto;
      margin-right: auto;
      }
      .header{
      border-radius:3px;
      border:3px solid #13316c;
      box-sizing: border-box;
      background: radial-gradient(white, #e9f5fa);
      box-shadow:0 0 10px #13316c;
      height:75px;
      }
      .b_msg{
      font-family:myfont1;
      font-size:12px;
      box-sizing: border-box;
      color:#fff;
      margin:6px 0 0 0;
      padding:5px 0;
      text-align:center;
      width:100%;
      background-color:#0033cc;
      margin:8px 0 0 0;
      }
      @media only screen and (max-width:480px){
      .logo{
      background-size:100% auto;
      }
      .b_msg{
      font-size:9px;
      }
      }
    .head_div
      a(href='javascript:void(0);')
        .header
          .logo
    .heading
      | USER LOGIN
    div(style='float:left; margin:10px 0; width:100%; ', align='center')
      .comment_box
        form(method='post', action='/cuslive')
          p(style='color:green;')
          p(style='color:red;')
          div
            label.f_label Username : 
            input.g_box(type='text', name='username', placeholder='Username', required='required')
          div(style='margin:10px 0 0 0;')
            label.f_label Password : 
            input.g_box(type='password', name='password', placeholder='PASSWORD', required='required')
          div
            button.s_btn(type='submit') LOGIN
        br
      br
      style.
        .refresh{
        background-color:#440e62;
        border:1px solid #14001f;
        text-align:center;
        color:#fff;
        padding:8px;
        font-family:myfont1;
        box-sizing: border-box;
        margin:10px 0 0 0;
        font-size:20px;
        font-weight:700;
        box-shadow:0 0 10px #461300;
        width: 10%;
        text-align: center;
        text-decoration:none;
        }
      div(align='center', style='\
      width: 100%;\
      text-align: center;\
      margin-top: 17px;\
      float: left;\
      ')
        a.refresh(href='#top')
          | Go To Top
      style.
        .fixed_menubar{
        display:block;
        width:100%;
        background-color:#f2f2f2;
        border-top:1px solid #d9d9d9;
        height:68px;
        z-index:10;
        position:fixed;
        bottom:0;
        }
        .bottom_menus{
        width:25%;
        float:left;
        cursor:pointer;
        text-align:center;
        }
        .bottom_menus>i{
        color:#bfbfbf;
        font-size:28px;
        padding:6px 0;
        }
        .bottom_menus>i:hover{
        color:#ff4d4d
        }
        .bottom_menus_title{
        color:#a6a6a6;
        font-weight:700;
        margin:0px 0 0 0;
        font-size:15px;
        font-family:myfont1;
        /* line-height:18px; */
        }
        .bb1{
        color:#133E8C;
        }
        @media only screen and (max-width:480px){
        .fixed_menubar{
        display:block;
        width:100%;
        background-color:#f2f2f2;
        border-top:1px solid #d9d9d9;
        height:58px;
        z-index:10;
        position:fixed;
        bottom:0;
        }
        .bottom_menus{
        width:25%;
        float:left;
        cursor:pointer;
        text-align:center;
        }
        .bottom_menus>img{
        }
        .bottom_menus_title{
        color:#a6a6a6;
        font-size:11px;
        font-family:myfont1;
        line-height:12px;
        }
        .bb1{
        color:#133E8C;
        }
        }
      style.
        .a14 {
        position: fixed;
        bottom: 60px;
        right: 5px;
        cursor:pointer;
        padding: 5px;
        }
      .a14(onclick='window.location.reload()')
        img(src='img/refresh.png', alt='refresh-button')
      #btm
      script(src='bootstrap/js/jquery-3.3.1.min.js')
