extends layout
block content
    
    form(method='POST',action='/footer')
        .row
            h4 Footer Update  
            
        .col.s6
            .row
                .input-field.col.s12
                    label Text:
                    input.form-control(name='text',type='text')

            .row
                .input-field.col.s12
                    label Color:
                    input.form-control(name='color',type='text')
            .row
                .input-field.col.s12
                    label background color:
                    input.form-control(name='bgcolor',type='text')
           
            .row
                .input-field.col.s12
                    
                    button.btn(type="submit") Submit
            
        .col.s6
        
            table.table.table-hover.table-dark(id="example")
                thead
                    td Text
                    td Color
                    td Bgcolor
                    td Edit
                    td Delete
                   
                   
     
                each foot, i in footer
                    tbody
                        td= foot.text
                        td= foot.color
                        td= foot.bgcolor
                        
                        
                        td
                            a.btn.btn-dark(title="Edit",onclick="M.toast({html: 'Edit Data'})",data-toggle="tooltip", data-placement="bottom",href='/footer/edit/'+foot._id)
                                i.fa.fa-pencil 
                        td
                            form(action='/footer/delete/'+foot._id+'?_method=DELETE',method='POST')
                                button.btn.btn-dark(type='submit' title="Remove",onclick="M.toast({html: 'Data Removing'})",data-toggle="tooltip", data-placement="right")
                                   i.fa.fa-trash
                            
                                    
                                
                          
                
          
        br
        br
        br
        br
      
                    
      
                    
        
				
		
			
				
			
   
