extends layout
block content
    
    form(method='POST',action='/header/edit/'+header._id)
        .row
            h3 Footer Updater 
        .col.s12
            .row
                .input-field.col.s12
                    label Text:
                    input.form-control(name='text',type='text',value=header.text)

            .row
                .input-field.col.s12
                    label Color:
                    input.form-control(name='color',type='text',value=header.color)
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Background Color
                    input.form-control(name='bgcolor',type='text',value=header.bgcolor)
            
                .input-field.col.s12
                    
                    button.btn(type="submit",onclick="M.toast({html: 'Data Updated'})") Edit
               
                    
                  
            
            
          
          
      
                    
      
                    
        
				
		
			
				
			
   
