html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title TIME BAZAR CHART RECORD JODI ONLINE SATTA MATKA
    meta(name='description', content='Time bazar chart in Time matka chart record with jodi record book.It is Usefull For Satta Matka , Matka Game time matka satta')
    meta(name='keywords', content='Time matka chart, time bazar chart, time chart, time record, time bazar record')
    meta(name='robots', content='INDEX, FOLLOW, ARCHIVE')
    link(rel='STYLESHEET', type='text/css', href='styles.css')
    script(type='text/javascript', async='', src='https://www.google-analytics.com/analytics.js')
    script(src='https://pagead2.googlesyndication.com/pagead/js/r20180709/r20180604/osd.js')
    script(src='https://pagead2.googlesyndication.com/pub-config/r20160913/ca-pub-5811859434860094.js')
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5811859434860094",
      enable_page_level_ads: true
      });
    meta(forua='true', http-equiv='Cache-Control', content='max-age=0')
    style(type='text/css').
      body { background-color: #FFCC99;
      color: #330000;
      font-size : large;
      font-family:Comic Sans MS;
      font-weight: bold;
      }
      a { color: Red;
      }
    style(type='text/ css').
      body {border:0px solid blue; background-color:#FFCC99;}
    link(rel='preload', href='https://adservice.google.co.in/adsid/integrator.js?domain=dpboss.net', as='script')
    script(type='text/javascript', src='https://adservice.google.co.in/adsid/integrator.js?domain=dpboss.net')
    link(rel='preload', href='https://adservice.google.com/adsid/integrator.js?domain=dpboss.net', as='script')
    script(type='text/javascript', src='https://adservice.google.com/adsid/integrator.js?domain=dpboss.net')
  body
    div(style='background-color:#FFCC99;color:black;font-weight:bold;font-style:italic;text-decoration:none;border-width:3px;border-color:indigo;border-style:solid;margin-top:0;margin-bottom:0;margin-left:5px;margin-right:5px;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;border-radius:0;text-shadow:1px 1px #FFCC99;', align='center')
      h1 Time Bajar Chart
    br
    div(style='border-style: solid; border-color: red; background-color: #FFCC99; color:black; ', align='center')
      big
        br
        | Time Chart
        br
        table(border='1')
          tbody
            - var countrows = chartnn.length/7
            for (var k = 0; k < countrows; k++)
              tr
                each val, i in chartnn
                  
                  td=  val.m1+val.m2+countrows
              
    // Global site tag (gtag.js) - Google Analytics
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111327609-1');
