html(xmlns='http://www.w3.org/1999/xhtml')
  head
    //- title= findtitlen.name
    meta(name='description', content='Time bazar chart in Time matka chart record with jodi record book.It is Usefull For Satta Matka , Matka Game time matka satta')
    meta(name='keywords', content='Time matka chart, time bazar chart, time chart, time record, time bazar record')
    meta(name='robots', content='INDEX, FOLLOW, ARCHIVE')
    meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='STYLESHEET', type='text/css', href='styles.css')
    script(type='text/javascript', async='', src='https://www.google-analytics.com/analytics.js')
    script(src='https://pagead2.googlesyndication.com/pagead/js/r20180709/r20180604/osd.js')
    script(src='https://pagead2.googlesyndication.com/pub-config/r20160913/ca-pub-5811859434860094.js')
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src='jquery.keyscroll.js')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-133660092-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-133660092-1');
    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-46528741-8')
    //- script.
    //-   window.dataLayer = window.dataLayer || [];
    //-   function gtag(){dataLayer.push(arguments);}
    //-   gtag('js', new Date());
    //-   gtag  ('config', 'UA-46528741-8');
    script(async='' src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8933382959388159",
      enable_page_level_ads: true
      });
    style.
      // Return to Top
      a#return-to-top(href='javascript:')
        i.icon-chevron-up
      // ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON
      link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel='stylesheet')
      // Test the scroll
      div(style='height:2000px;')
        h3 Scroll down
        h3
          i.icon-arrow-down

      #return-to-top {
        position: fixed;
          bottom: 20px;
          right: 20px;
          background: rgb(0, 0, 0);
          background: rgba(0, 0, 0, 0.7);
          width: 50px;
          height: 50px;
          display: block;
          text-decoration: none;
          -webkit-border-radius: 35px;
          -moz-border-radius: 35px;
          border-radius: 35px;
          display: none;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        #return-to-top i {
          color: #fff;
          margin: 0;
          position: relative;
          left: 16px;
          top: 13px;
          font-size: 19px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        #return-to-top:hover {
          background: rgba(0, 0, 0, 0.9);
        }
        #return-to-top:hover i {
          color: #fff;
          top: 5px;
        }


        /* Extra Things */
        body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}

    meta(forua='true', http-equiv='Cache-Control', content='max-age=0')
    style(type='text/css').
      body { background-color: #FFFFFF;
      color: #330000;
      font-size : large;
      font-family:Comic Sans MS;
      font-weight: bold;
      }
      a { color: Red;
      }
      .ab 
      {
 
        
      font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
      font-size: 2em;
      font-weight:bold;
  
      }
    style(type='text/ css').
      body {border:0px solid blue; background-color:#FFFFFF;}
    link(rel='preload', href='https://adservice.google.co.in/adsid/integrator.js?domain=dpboss.net', as='script')
    script(type='text/javascript', src='https://adservice.google.co.in/adsid/integrator.js?domain=dpboss.net')
    link(rel='preload', href='https://adservice.google.com/adsid/integrator.js?domain=dpboss.net', as='script')

  body
    div(style='background-color:#FFFFFF;color:black;font-weight:bold;font-style:italic;text-decoration:none;border-width:3px;border-color:indigo;border-style:solid;margin-top:0;margin-bottom:0;margin-left:5px;margin-right:5px;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;border-radius:0;text-shadow:1px 1px #FFFFFF;', align='center')
      h1= findtitlen.name
      br
      div(style='border-style: solid; border-color: red; background-color: #FFFFFF; color:black; ', align='center')
        //-   big= findtitlen.name

        each chartmessage , i in chartmessages  
          p!= chartmessage.market 

        div(align='center')
          a#scrollToBottom(href='javascript:;') ▼ Go To Bottom
        br
        table(border='1')
          tbody
            -var l =7
            - var countrows = chartnn.length/7+1
            -for (var k = 1; k <= countrows; k++)
              tr
                
                each val, i in chartnn
                  
                  -var x =l*k
                  -if (i<x)
                    - var m= k-1
                    - var y= l*m
                    -if (i>=y)
                      -if(val.m1+val.m2 != "")
                        td.ab(style='color: '+ val.color +'')=  val.m1+val.m2
                  

    div(align='center')
      a#scrollToTop(href='javascript:;') ▲ Go To Top

    script(type='text/javascript').
      $(function () {
      $('#scrollToBottom').bind("click", function () {
      $('html, body').animate({ scrollTop: $(document).height() }, 1200);
      return false;
      });
      $('#scrollToTop').bind("click", function () {
      $('html, body').animate({ scrollTop: 0 }, 1200);
      return false;
      });
      });              


    // Global site tag (gtag.js) - Google Analytics
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111327609-1');
