doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title OPEN TO CLOSE
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-46528741-8')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-46528741-8');
  body
    style.
      @font-face {
      font-family: myfont1;
      src: url(LatoLatin-BlackItalic.woff2);
      }
      body{
      background-color:#000;
      }
      .o_box{
      float:left;
      width:100%;
      }
      .chart_title{
      background-color:#3c9f1b;
      border-radius:5px 5px 0 0;
      text-align:center;
      color:#000;
      padding:5px 0;
      font-family:myfont1;
      font-weight:700;
      font-size:20px;
      }
      .chart_title3{
      background-color:#ed5c04;
      border-radius:5px 5px 0 0;
      text-align:center;
      color:#fff;
      padding:5px 0;
      font-family:myfont1;
      font-weight:700;
      font-size:20px;
      margin:20px 0 0 0;
      }
      .chart_mid{
      float:left;
      width:100%;
      background-color:#fff;
      border-radius:0 0 5px 5px;
      }
      .chart_mid1{
      background-color:#fff;
      border-radius:5px;
      }
      .chart_head{
      background-color:#fff5f8;
      text-align:center;
      font-family:myfont1;
      font-weight:700;
      font-size:18px;
      padding:5px 0 4px 0;
      color:#000;
      }
      .chart_content{
      text-align:center;
      font-family:myfont1;
      font-weight:1000;
      font-size:22px;
      border:2px solid #2da18f;
      padding:20px 0px;
      border-radius:5px;
      margin:10px;
      box-sizing:border-box;
      color:#000;
      }
      .chart_content1{
      text-align:center;
      font-family:myfont1;
      font-weight:700;
      box-sizing:border-box;
      font-size:22px;
      border-bottom:2px solid #cccccc;
      padding:10px 0;
      }
      .content_box{
      margin:10px 0 0 0;
      }
      .online{
      border:5px ridge #737373;
      border-radius:5px;
      text-align:center;
      color:#fff;
      font-family:myfont1;
      font-weight:700;
      font-size:22px;
      padding:10px 0;
      background-color:#cccc00;
      }
      .satta-matka-block_strtF{
      background-color: #a10131;border-radius: 5px;font-size: 20px;
      padding:10px;text-align:center;border:#fff solid 2px;font-style:italic; margin-top: 740px;margin-bottom:10px;font-weight:bold;
      }
      .btn_red{color:#fff;text-decoration: none;font-weight: bold;}
      .online_block{
      margin:0 0 20px 0;
      }
      @media only screen and (max-width: 480px) {
      .chart_content1{
      font-size:15px;
      }
      .chart_content{
      font-weight:1000;
      }
      }
    style.
      .logo{
      background-image:url('images/lg3.png');
      background-position:center;
      background-repeat:no-repeat;
      height:100px;
      float:left;
      width:100%;
      }
    a(href='index.php')
      .logo
    .o_box
      .chart_title
        | !! Game Update Time !!
      .chart_mid
        .chart_content(style='margin:10px 10px;color:#a90303;') !! Date 22-09-2018 !!
        .chart_content(style='color:#1749a6;')
          | !! Day 02.00 pm !!
          br
          | !! Night 08.00 pm !!
        .chart_content(style='color:#8214cd;')
          | !! Milan Day !!
          br
          | !! 9 8 0 1 !!
        .chart_content(style='color:#ff2222;')
          | !! Rajdhani Day !!
          br
          | !! 9 8 0 1 !!
        .chart_content(style='color:#09950e;')
          | !! Kalyan !!
          br
          | !! 9 8 0 1 !!
        br
        center
          a(href='http://sattamatka.mobi/weekly_chart.php', target='_blank')
            font(color='black')
              b 100% FIX PANNA CHART CLICK HERE..
        div(align='center')
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5644214016514570', data-ad-slot='9319732348', data-ad-format='auto')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
        .chart_content(style='color:#a90303;')
          | !! Milan Night !!
          br
          | !! 9 8 0 1 !!
        .chart_content(style='color:#ff2222;')
          | !! Rajdhani Night !!
          br
          | !! - - - - !!
        .chart_content(style='color:#1749a6;')
          | !! Main Mumbai !!
          br
          | !! - - - - !!
    br
    center
      a(href='http://sattamatka.mobi/weekly_chart.php', target='_blank')
        font(color='white')
          b 100% FIX PANNA CHART CLICK HERE..
    div(align='center')
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5644214016514570', data-ad-slot='9319732348', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
    div(style='float:left; width:100%;')
      .chart_mid1.content_box
        center
          b
            big
              | \*/ PASSING RECORD:- \*/
              br
              | \*/ OPEN TO CLOSE \*/
              br
            | 17-09-2018
            hr
            small
              | MILAN DAY OPEN **8** PASS...
              br
              | MILAN DAY CLOSE **0** PASS...
              br
              | MILAN DAY JODI **80** PASS...
              br
              | KALYAN OPEN **0** PASS...
              br
              | MILAN NIGHT OPEN **1** PASS...
              br
              | MILAN NIGHT CLOSE **8** PASS...
              br
              | MILAN NIGHT JODI **18** PASS...
              br
              | MAIN MUMBAI OPEN **9** PASS...
              br
              | MAIN MUMBAI CLOSE **8** PASS...
              br
              | MAIN MUMBAI JODI **98** PASS...
              hr
              | Date:-18-09-2018:-
              br
              | TIME BAZAR OPEN **5** PASS...
              br
              | MILAN DAY OPEN **5** PASS...
              br
              | RAJDHANI DAY OPEN **5** PASS...
              br
              | RAJDHANI DAY CLOSE **2** PASS...
              br
              | RAJDHANI DAY JODI **52** PASS...
              br
              | KALYAN OPEN **5** PASS...
              hr
              | Date:-19-09-2018:-
              br
              | MILAN DAY CLOSE **8** PASS...
              br
              | RAJDHANI DAY CLOSE **8** PASS...
              br
              | KALYAN OPEN **7** PASS...
              br
              | RAJDHANI NIGHT OPEN **8** PASS...
              br
              | MAIN MUMBAI CLOSE **6** PASS...
              hr
              | Date:-20-09-2018:-
              br
              | RAJDHANI DAY CLOSE **3** PASS...
              hr
              | Date:-21-09-2018:-
              br
              | RAJDHANI DAY CLOSE **5** PASS...
              br
              | MILAN DAY OPEN **6** PASS...
              br
              | KALYAN CLOSE **4** PASS...
              br
              | MAIN MUMBAI **6** PASS...
              br
    br
    br
    .satta-matka-block_strtF
      .btn_red
        | SATTAMATKA.MOBI
        br
        | ALL RIGHTS RESERVED (2012-2018)
        br
        | CONTACT ADMIN 
        br
        | 01141169999
        br
    div(style='text-align: center;')
      a(href='http://sattamatka.mobi/')
        img(src='images/back-btn.png', alt='satta')
      a(href='http://sattamatka.mobi/')
        img(src='images/home-btn.png', alt='satta')
