doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title EVERGREEN TRICKS » SATTA MATKA TRICKS ZONE
    link(rel='STYLESHEET', type='text/css', href='css/styles.css')
    meta(forua='true', http-equiv='Cache-Control', content='max-age=0')
    style(type='text/css').
      body { background-color: #FF9900;
      color: ;
      }
      a { color: ;
      }
  body(expr:class='"loading" + data:blog.mobileClass', oncontextmenu='return false;', onkeydown='return false;', onmousedown='return false;', style='-moz-user-select: none;')
    .BHORUM(align='center', style='width:100%')
      h1 ↔ SATTA MATKA ↔ 
      h1.BHORUM(align='center')
        | ↔ SATTA MATKA ↔ MATKA ↔ SATTAMATKA ↔ SATTA MATKA NUMBER ↔ SATTA MATKA NUMBER ↔ SATTA MATKA SITE ↔ SATTA-KING ↔ FAST RESULT ↔ SATTA NUMBER ↔ MATKA NUMBER ↔ KALYAN ↔ MUMBAI ↔ MILAN ↔ RAJDHANI ↔ GALI ↔ DISAWAR ↔ GHAZIABAD ↔ FARIDABAD ↔
      big
        font(style='bold', bgcolor='yellow', color='white')
    .CreditSystem(style='width:100%;', align='center')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='#') ALL TRICKS ARE CREATED BY :- PROF. ADMIN SIR ( MATKA PROFESSOR )
      br
      br
      | satmatrat.in  
      br
      | 9112310269
      br
      | DONT COPY OR MISSUSE THIS TRICKS
    .SATTAKING(align='center')
      meta(content='max-age=0', http-equiv='Cache-Control', forua='true')
      p.RAJ(align='center')
        a.SATTAKINGTHREE(align='left', href='http://satmatrat.in ') HOME
        a.SATTAKINGTHREE(align='left', href='http://satmatrat.in/satta_matka_tricks_zone.php') BLOG
        //- a.SATTAKINGTHREE(align='left', href='http://satmatrat.in  /guessing_forum.php') FORUM
        //- a.SATTAKINGTHREE(align='right', href='http://satmatrat.in /all_satta_matka_charts_records_with_penals.php') RECORD
    .BHORUM(align='center')
      big EVERGREEN TRICKS HERE.
    .CreditSystem
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='.') HOME»
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href=' #') BLOG»
      b.RAJ ARCHIVE
    .CreditSystem(style='width:100%;')
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(href='satta_matka_trick_and_schemes.php', style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;') RAISE KARKE KHELE I
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(href='satta_matka_trick_and_schemes2.php', style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;') RAISE KARKE KHELE II
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(href='satta_matka_kalyan_close_lines.php', style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;') CLOSE LINE DEKHO
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(href='satta_matka_weekly_calculations.php', style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;') WEEKLY CALCULATION
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_fix_day_figure.php') FIX DAY FIGURE 
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_single_bracket_scheme.php') SINGLE BRACKET SCHEME
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_same_jodi.php') MON-TUE SAME JODI
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_band_weak_gine.php') BAND WEEK GINE
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_supplimentry_red.php') SUPPLIMENTRY RED
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_line_ka_order.php') LINE KA ORDER
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_sardarji_ke_figure.php') SARDARJI KE FIGURE
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_milan_ank_trick.php') MILAN ANK TRICK
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_cross_line_dekho.php') CROSS LINE DEKHO
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_jodi_ka_jodbhav.php') JODI KA JODBHAV
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_achuk_sangam_scheme.php') ACHUK SANGAM SCHEME
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_kalyan_fix_figure.php') FIX FIGURE KALYAN I
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_mumbai_fix_figure_firest.php') FIX FIGURE MUMBAI I
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_mumbai_fix_figure_second.php') FIX FIGURE MUMBAI II
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_mumbai_fix_figure_third.php') FIX FIGURE MUMBAI III
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_daily_figure_trick_firest.php') DAILY FIGURE TRICK I
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_daily_figure_trick_second.php') DAILY FIGURE TRICK II
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_daily_figure_trick_third.php') DAILY FIGURE TRICK III
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_daily_figure_trick_four.php') DAILY FIGURE TRICK IV
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_daily_figure_trick_five.php') DAILY FIGURE TRICK V
      br
      br
      img(src='http://satmatrat.in  /images/arrw.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_daily_figure_trick_six.php') DAILY FIGURE TRICK VI
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_daily_figure_trick_seven.php') DAILY FIGURE TRICK VII
      br
      br
      img(src='images/300011847_16d08c552b.gif', alt='')
      a.RAJ(style='border: #FF0040 2px solid;\
      background: #fff;\
      color: #000;\
      font-style: italic;\
      margin-top: 2px;\
      margin-bottom: 2px;\
      padding-top: 2px;\
      padding-bottom: 2px;', href='satta_matka_daily_figure_trick_eight.php') DAILY FIGURE TRICK VIII
      br
      br
    style.
      #top_five {
      background-color: #ffff00;
      border-color: #00008d;
      border-left: 3px solid #00008d;
      border-right: 3px solid #00008d;
      border-style: solid;
      border-width: 3px;
      color: #000000;
      font-family: "Times New Roman",Times,serif;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.3em;
      margin-top: 10px;
      text-align: center;
      }
      #pic {
      margin-top: 5px;
      text-align: center;
      width: 100%;
      }
    .BHORUM(align='center')
      div(align='center', style='background-color:red; border :3px Double #000099 ; width:100%;')
        b
          font(size='3', color='white')
            p(style='background-color: #ff0000; ', align='center')
            h2
              hr
              | UPDATED BY:-
            h1
              | ADMIN SIR
              br
              | 
              hr
            p
    script.
      var _uox = _uox || {};(function() {var s=document.createElement("script");
      s.src="http://static.usuarios-online.com/uo2.min.js";document.getElementsByTagName("head")[0].appendChild(s);})();
    a#uox_link(href='http://www.usuarios-online.com/en/', data-id='c7de0689f9bd8dce92c983e725cce956', data-type='free', target='_blank')
    #top_five
      | satmatrat.in  
      br
      | ALL RIGHTS RESERVED ® (2012-2018)
      br
      | CONTACT-(ADMIN)--9112310269
      br
      font(size='10') 
    #pic
      a(onclick='javascript:history.go(-1)')
        img(border='0', src='images/22.gif')
      span(style='color:#FFFFFF') ||
      a(href='http://satmatrat.in /')
        img(border='0', src='images/56.gif')
