extends layout
block content
    
    br
    .collection
        .row
            .col.s12
            
                each sattan, i in chartn
                    ul.flex-container
                        li.flex-item!= sattan.patti+'<br><p style="font-size:20px;color:black">Date: '+sattan.date+'</p>' 
                             
                 
                    

               
          

