link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Roboto")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css")
link(rel="stylesheet" href="/css/main.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
.collection
        .row
            .col.s12
            
                each sattan, i in chartn
                    ul.flex-container
                        li.flex-item!= sattan.patti+'<br><p style="font-size:20px;color:black">Date: '+sattan.date+'</p>' 
                             
                 
                    

               
          

