doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title WEEKLY JODI AND PANNA
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-46528741-8')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-46528741-8');
  body
    style.
      @font-face {
      font-family: myfont1;
      src: url(LatoLatin-BlackItalic.woff2);
      }
      body{
      background-color:#000;
      }
      .chart_title{
      background-color:#e60000;
      border-radius:5px 5px 0 0;
      text-align:center;
      color:#fff;
      padding:5px 0;
      font-family:myfont1;
      font-weight:700;
      font-size:20px;
      }
      .chart_title2{
      background-color:#25a2b8;
      border-radius:5px 5px 0 0;
      text-align:center;
      color:#fff;
      padding:5px 0;
      font-family:myfont1;
      font-weight:700;
      font-size:20px;
      margin:20px 0 0 0;
      }
      .chart_title3{
      background-color:#ed5c04;
      border-radius:5px 5px 0 0;
      text-align:center;
      color:#fff;
      padding:5px 0;
      font-family:myfont1;
      font-weight:700;
      font-size:20px;
      margin:20px 0 0 0;
      }
      .chart_title4{
      background-color:#235cc2;
      border-radius:5px 5px 0 0;
      text-align:center;
      color:#fff;
      padding:5px 0;
      font-family:myfont1;
      font-weight:700;
      font-size:20px;
      margin:20px 0 0 0;
      }
      .chart_mid{
      background-color:#fff;
      border-radius:5px;
      }
      .chart_head{
      background-color:#fff5f8;
      text-align:center;
      font-family:myfont1;
      font-weight:700;
      font-size:18px;
      padding:5px 0 4px 0;
      color:#000;
      }
      .chart_head2{
      background-color:#b6e7ef;
      text-align:center;
      font-family:myfont1;
      font-weight:700;
      font-size:18px;
      padding:5px 0 4px 0;
      color:#000;
      }
      .chart_content{
      text-align:center;
      font-family:myfont1;
      font-weight:700;
      font-size:16px;
      border-bottom:2px solid #cccccc;
      box-sizing:border-box;
      padding:3px 0 2px 0;
      color:#000;
      }
      .chart_content1{
      text-align:center;
      font-family:myfont1;
      box-sizing:border-box;
      font-weight:700;
      font-size:16px;
      border-bottom:2px solid #cccccc;
      padding:10px 0;
      }
      .satta-matka-block_strtF{
      float:left;
      width:100%;
      margin:0 0 0px 0;
      background-color: #a10131;
      border-radius: 5px;
      font-size: 20px;
      padding: 9px;
      text-align: center;
      border: #fff solid 2px;
      font-style: italic;
      /*margin-top: -76px;
      margin-bottom: 10px; */
      font-weight: bold;
      box-sizing: border-box;
      }
      .btn_red{color:#fff;text-decoration: none;font-weight: bold;}
      @media only screen and (max-width: 480px) {
      .chart_head{
      font-size:15px;
      padding:5px 0 4px 0;
      }
      .chart_head2{
      font-size:15px;
      padding:5px 0 4px 0;
      }
      .chart_content{
      font-size:16px;
      padding:3px 0 2px 0;
      }
      .chart_content1{
      font-size:16px;
      padding:10px;
      }
      .w_chart{
      }
      }
    style.
      .logo{
      background-image:url('images/lg3.png');
      background-position:center;
      background-repeat:no-repeat;
      height:100px;
      float:left;
      width:100%;
      }
    a(href='index.php')
      .logo
    div(style='float:left; width:100%;')
      .chart_title
        | WEEKLY PANEL CHART
      .chart_mid
        .chart_head 17 SEPTEMBER 2018 TO 22 SEPTEMBER 2018
        .chart_content 1 => 128 560 588 236 489 
        .chart_content 2 => 200 345 589 129 390 
        .chart_content 3 => 229 337 139 148 580 
        .chart_content 4 => 130 356 400 248 239 
        .chart_content 5 => 780 258 690 348 339 
        .chart_content 6 => 123 259 178 268 466 
        .chart_content 7 => 359 467 890 124 700 
        .chart_content 8 => 170 189 378 260 125 
        .chart_content 9 => 135 180 126 450 144 
        .chart_content(style='border:none;border-radius:0 0 5px 5px;') 0 => 460 569 136 235 145 
      div(align='center')
        script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5644214016514570', data-ad-slot='9319732348', data-ad-format='auto')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});
    div(style='float:left; width:100%;')
      .chart_title2
        | WEEKLY JODIES CHART
      .chart_mid
        .chart_head2 17 SEPTEMBER 2018 TO 22 SEPTEMBER 2018
        .chart_content {12} {15} {19} {10}
        .chart_content {45} {46} {47} {48}
        .chart_content {52} {56} {57} {59}
        .chart_content {64} {67} {68} {69}
        .chart_content {84} {85} {88} {89}
        .chart_content(style='border:none; border-radius:0 0 5px 5px;')
          | {01} {03} {08} {09}
    div(style='float:left; width:100%;')
      .chart_title3
        | DATE FIX WEEKLY GAME
      .chart_mid
        .chart_content1(style='color:#a80000;')
          | 17-09-2018 -- TIME BAZAR JODI **64** PASS...
          br
          | 17-09-2018 -- MILAN DAY CLOSE PANNA **145** PASS...
          br
          | 17-09-2018 -- RAJDHANI DAY JODI **57** PASS...
          br
          | 17-09-2018 -- KALYAN OPEN PANNA **460** PASS...
          br
          | 17-09-2018 -- MAIN MUMBAI OPEN PANNA **180** PASS...
          br
          | 17-09-2018 -- MAIN MUMBAI CLOSE PANNA **378** PASS...
          hr
        .chart_content1
          | 18-09-2018 -- TIME BAZAR OPEN PANNA **348** PASS...
          br
          | 18-09-2018 -- TIME BAZAR JODI **57** PASS...
          br
          | 18-09-2018 -- MILAN DAY CLOSE PANNA **236** PASS...
          br
          | 18-09-2018 -- RAJDHANI DAY JODI **52** PASS...
          br
          | 18-09-2018 -- RAJDHANI NIGHT JODI **67** PASS...
          hr
        .chart_content1
          | 19-09-2018 -- MILAN DAY CLOSE PANNA **125** PASS...
          br
          | 19-09-2018 -- MAIN MUMBAI CLOSE PANNA **268** PASS...
          br
          | 19-09-2018 -- MAIN MUMBAI JODI **56** PASS...
          hr
        .chart_content1
          | 20-09-2018 -- TIME BAZAR JODI **64** PASS...
          br
          | 20-09-2018 -- MILAN DAY JODI **67** PASS...
          br
          | 20-09-2018 -- KALYAN OPEN PANNA **569** PASS...
          br
          | 20-09-2018 -- KALYAN JODI **08** PASS...
          br
          | 20-09-2018 -- MILAN NIGHT JODI **47** PASS...
          br
          | 20-09-2018 -- RAJDHANI NIGHT OPEN PANNA **260** PASS...
          br
          | 20-09-2018 -- RAJDHANI NIGHT JODI **85** PASS...
          br
          | >
          | 20-09-2018 -- MAIN MUMBAI JODI **64** PASS...
          hr
        .chart_content1
          | 21-09-2018 -- TIME BAZAR OPEN PANNA **129** PASS...
          br
          | 21-09-2018 -- MILAN DAY OPEN PANNA **123** PASS...
          br
          | 21-09-2018 -- MILAN DAY CLOSE PANNA **235** PASS...
          br
          | 21-09-2018 -- RAJDHANI DAY CLOSE PANNA **136** PASS...
          br
          | 21-09-2018 -- KALYAN CLOSE PANNA **130** PASS...
          br
          | 21-09-2018 -- RAJDHANI NIGHT CLOSE PANNA **378** PASS...
          br
          | 21-09-2018 -- MAIN MUMBAI OPEN PANNA **139** PASS...
          hr
        .chart_content1(style='color:#a80000; border:none; border-radius:0 0 5px 5px;')
          | ADMIN GAME CHARGES:-
          br
          | 5100/- Rs. WEEKLY
          br
          | -: CALL ADMIN SIR :-
          br
          | 01141169999
          br
          | PLEASE NOTE:- NO TRAIL, NO SAMPLE
      div(align='center')
        script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5644214016514570', data-ad-slot='9319732348', data-ad-format='auto')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});
    div(style='float:left; width:100%; margin:0 0 0px 0;')
      .chart_title4
        | ALL SATTA MATKA CARDS (PANNA)
      .chart_mid
        .chart_content1(style='color:#a80000;')
          | 100-[[ 1 ]]-777
          br
          | 128-137-146-236-245- 290-380-470-489-560-
          br
          | 678-579-119-155-227- 335-344-399-588-669.
        .chart_content1
          | 200-[[ 2 ]]-444
          br
          | 129-138-147-156-237- 246-345-390-480-570-
          br
          | 679-589-110-228-255- 336-499-660-688-778.
        .chart_content1(style='color:#a80000;')
          | 300-[[ 3 ]]-111
          br
          | 120-139-148-157-238- 247-256-346-490-580-
          br
          | 670-689-166-229-337- 355-445-599-779-788 .
        .chart_content1
          | 400-[[ 4 ]]-888
          br
          | 130-149-158-167-239- 248-257-347-356-590-
          br
          | 680-789-112-220-266- 338-446-455-699-770.
        .chart_content1(style='color:#a80000;')
          | 500-[[ 5 ]]-555
          br
          | 140-159-168-230-249- 258-267-348-357-456-
          br
          | 690-780-113-122-177- 339-366-447-799-889.
        .chart_content1
          | 600-[[ 6 ]]-222
          br
          | 123-150-169-178-240- 259-268-349-358-457-
          br
          | 367-790-114-277-330- 448-466-556-880-899.
        .chart_content1(style='color:#a80000;')
          | 700-[[ 7 ]]-999
          br
          | 124-160-179-250-269- 278-340-359-368-458-
          br
          | 467-890-115-133-188- 223-377-449-557-566.
        .chart_content1
          | 800[[ 8 ]]-666
          br
          | 125-134-170-189-260- 279-350-369-378-459-
          br
          | 567-468-116-224-233- 288-440-477-558-990.
        .chart_content1(style='color:#a80000;')
          | 900[[ 9 ]]-333
          br
          | 126-135-180-234-270- 289-360-379-450-469-
          br
          | 117-478-568-144-199- 225-388-559-577-667.
        .chart_content1(style='border:none; border-radius:0 0 5px 5px;')
          | 550-[[ 0 ]]-000
          br
          | 127-136-190-235-280- 334-370-479-460-569-
          br
          | 118-578-668-244-299- 226-488-550-677-389
      div(align='center')
        script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5644214016514570', data-ad-slot='9319732348', data-ad-format='auto')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});
    .satta-matka-block_strtF
      .btn_red
        | SATTAMATKA.MOBI
        br
        | ALL RIGHTS RESERVED (2012-2018)
        br
        | CONTACT ADMIN 
        br
        | 01141169999
        br
    div(style='text-align: center;')
      a(href='http://sattamatka.mobi/')
        img(src='images/back-btn.png', alt='satta')
      a(href='http://sattamatka.mobi/')
        img(src='images/home-btn.png', alt='satta')
